<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Spread Smiles</title>

    <!-- Bootstrap -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    
    <link href="/css/bootstrap.css" rel="stylesheet"/>
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet"/>
    <link href="/css/font-awesome.min.css" rel="stylesheet"/>
      <link href="/css/lightbox.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet"/>
  </head>

  <body ng-app="thankam">
    {{>header}}

  <div class="home-cont">
    <div class="container-fluid sldddd">

      <div class=" row hidden-xs">
        <div style="height:500px; margin-top:0px;" class="slider img-back"></div>
      </div>

      <div class="container add-tionn">
        <div class="row">
          <div class="col-sm-6">
            <img style="width: 100%;" src="/images/group.jpg">
          </div>
              
          <div class="col-sm-6 abut">
            <div class="row hed">
              <h2>About Us</h2>
            </div>
                  
            <p> Spread Smiles is a non-profit organization with the main motive to donate excess food and 
              medicines without any distinction of caste, color or creed. With the sole aim of involving in 
              social charitable, our platform aims to connect the help providers and help seekers.<br>
              These days, there are many COVID patients who are in need of food but on the other hand, 
              a lot of food is being wasted in restaurants and households. Also, a lot of medicines is 
              going unused in many households. Thus, our system reduces the efforts to provide or get help 
              personally in offline mode.
            </p>
          </div>

        </div>
      </div>
      <br><br>
      <section class="container-fluid mission-vision">
        <div class="container">
          <div class="row hed">
            <div class="col-md-6 mv-det">
              <br><br>
              <h2>Our Mission</h2>
              <p>We all have been affected by the current COVID-19 pandemic. However, the impact of the 
                pandemic and its consequences are felt differently depending on our status as individuals 
                and as members of society. In these tough times, our mission is to help those people who 
                are in need of essentials like food and medicines.This website makes helping each other 
                easier, which is what exactly is needed in the current time. </p>
            </div>
            <div class="col-md-6 mv-img">
              <img src="/images/mission.jpg" alt="">
            </div>
          </div>
          <br><br>
          <div class="row hed">
            <div class="col-md-6 mv-img">
              <img src="/images/vision.jpg" alt="">
            </div>
            <br><br>
            <div class="col-md-6 mv-det">
              <h2>Our Vision</h2>
                <p>Our vision encompasses our values and beliefs.We seek to broaden public awareness and 
                  inclusion in every part of our alliance. We seek to increase our visibility and impact,
                  strengthen our voice as a unified organization of lived experiences and maximize our 
                  outreach.We seek to encourage small donations and help the needy.</p>
            </div>
          </div>
        </div>
      </section>   
          
    </div> 
  </div>        

  {{>footer}}
  
</body>


<script src="/js/angular.min.js"></script>
<script src="/js/angular-ui-router.min.js"></script>      
<script src="/js/jquery-1.11.3.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/lightbox-plus-jquery.min.js"></script>
<script src="/js/script.js"></script>
</html>