<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Spread Smiles</title>

    <!-- Bootstrap -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    
    <link href="/css/bootstrap.css" rel="stylesheet"/>
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet"/>
    <link href="/css/font-awesome.min.css" rel="stylesheet"/>
      <link href="/css/lightbox.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet"/>
  </head>

 <script>
   document.getElementById('btnclk').setAttribute('disabled') = 'disabled'; 
 </script>
  <body ng-app="thankam">
    {{>header}}

  <div class="home-cont">
    <div class="container-fluid sldddd">
      
      <br><br>
      <div class="container">
      <div class="row hed">
     <h2> Apply for food</h2>
     </div> 
            <h4 style="text-align: center;">Feed families. Save lives.</h4>
      </div>
     
     <div class="registration-form">     
      
        <form action="#" method="post">
            <h3 style="text-align: center;">Apply now</h3>
            <br>
            <div class="form-group">
                <input type="text" class="form-control item" id="username" name="name" placeholder="Name" required="">
            </div>
            <div class="form-group">
                <input type="email" class="form-control item" id="email" name="email" placeholder="Email" required="">
            </div>
            <div class="form-group">
                <input type="text" class="form-control item" id="phone-number" name="phone" placeholder="Phone Number" required="">
            </div>
            <div class="form-group">
                <input type="text" class="form-control item" id="address" name="address" placeholder="Address" required="">
            </div>
             <div class="form-group">
                <input type="text" class="form-control item" id="receiver_type" name="receiverType" placeholder="Individual/NGO" required="">
            </div>
             <div class="form-group">
                <input type="text" class="form-control item" id="people" name="people" placeholder="Number of people in need" required="">
            </div>
             <div class="form-group">
               <select name="canReceive" id="canReceive" class="form-control item" required="">
                 <option value="">Can you pick-up the food?</option>
                <option value="true">Yes</option>
                <option value="false">No</option>
              </select>
            </div>
            <div class="form-group">
                <button id="btnclk" type="submit" class="btn btn-block create-account" value="Apply food">Apply</button>
            </div>
            
        </form>
       
    </div>

    </div>
  </div>

  
  {{>footer}}
  
</body>



  <script src="/js/angular.min.js"></script>
<script src="/js/angular-ui-router.min.js"></script>      
<script src="/js/jquery-1.11.3.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/lightbox-plus-jquery.min.js"></script>
<script src="/js/script.js"></script>
</html>