<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Spread Smiles</title>

    <!-- Bootstrap -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    
    <link href="/css/bootstrap.css" rel="stylesheet"/>
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet"/>
    <link href="/css/font-awesome.min.css" rel="stylesheet"/>
      <link href="/css/lightbox.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet"/>
  </head>

  <body ng-app="thankam">
    {{>header}}

  <div class="home-cont">
    <div class="container-fluid sldddd">
        <div class="row hed" style="padding-left: 200px; padding-top:30px;">
           <h2> Gallery</h2>
        </div> 
      <div class="container add-tionn">
        
        <div class="row">
          <div class="col-sm-6">
            <img style="width: 100%; height: 370px;" src="/img/gallery-1.jfif">
          </div>
          <div class="col-sm-6">
            <img style="width: 100%; height: 370px;" src="/img/gallery-2.jfif">
          </div>  
        </div>
        <br><br>
        <div class="row">
          <div class="col-sm-6">
            <img style="width: 100%; height: 370px;" src="/img/gallery-3.jfif">
          </div>
          <div class="col-sm-6">
            <img style="width: 100%; height: 370px;" src="/img/gallery-4.jfif">
          </div>  
        </div>
        <br><br>
        <div class="row">
          <div class="col-sm-6">
            <img style="width: 100%; height: 370px;" src="/img/gallery-5.jfif">
          </div>
          <div class="col-sm-6">
            <img style="width: 100%; height: 370px;" src="/img/gallery-6.jfif">
          </div>  
        </div>


      </div>  
          
    </div> 
  </div>        

  {{>footer}}
  
</body>


<script src="/js/angular.min.js"></script>
<script src="/js/angular-ui-router.min.js"></script>      
<script src="/js/jquery-1.11.3.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/lightbox-plus-jquery.min.js"></script>
<script src="/js/script.js"></script>
</html>