<footer style="margin-top:25px;">
    
  <div class="container foot-cont">
    <div class="col-md-6">
        <b>About Us</b>
        <p>
          Spread Smiles is a non-profit organization with the main motive to donate excess food and medicines
          without any distinction of caste, color or creed.With the sole aim of involving in social charitable,
          our platform aims to connect the help providers and help seekers.
        </p>
    </div>
    <div class="col-md-6">
      <img align="right" style="width:90px; margin-left:15px" src="/images/logo.jpg">
      <h2 style="color: white; text-align:right">Spread Smiles</h2>
    </div>
  </div>
  
  <div class=" smarti">
      <div class="container">
      <p>All Rights Reserved &copy; Spread Smiles</p>
      </div>
  </div>
  
  </footer>